<div id='users'>
	<button class='sort' data-sort='name'>Sort by name/author</button>
	<button class='sort' data-sort='retweeted'>Sort by retweets</button>
	<button class='sort' data-sort='created'>Sort by date</button>
	<button class='sort' data-sort='followers'>Sort by followers</button>
  	<button class='sort' data-sort='influence'>Sort by influence</button>
 </div>
 <div>
 	Click to toggle:
 	<label for="name-toggle">Name</label>  
	<input type="checkbox" id="name-toggle"/> 
	<label for="retweet-toggle">Retweets</label>  
	<input type="checkbox" id="retweet-toggle"/> 
	<label for="date-toggle">Date</label>  
	<input type="checkbox" id="date-toggle"/> 
	<label for="followers-toggle">Followers</label>  
	<input type="checkbox" id="followers-toggle"/> 
	<label for="influence-toggle">Influence</label>  
	<input type="checkbox" id="influence-toggle"/> 



  	<ul class='list'>